$bg-color : #687980;
$text-color : #fff;

body{
    background-color: $bg-color;
    color: $text-color;
    margin: 0 auto;
}
.home-image{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.paragraph{
    max-width: 600px;
}